authlib==1.6.5
Flask==3.1.2
Flask_Login==0.6.3
openmeteo_requests==1.7.4
pandas==2.3.3
python-dotenv==1.2.1
pytz==2025.2
Requests==2.32.5
requests_cache==1.2.1
retry_requests==2.0.0
waitress==3.0.2
authlib
Flask
Flask-Login
openmeteo-requests
pandas
python-dotenv
pytz
requests
requests-cache
retry-requests
